.bg-danger{
    background-color: #eb2128 !important;
}
.btn-danger{
    background-color: #eb2128 !important;
}
.btn-clr{
    color: #eb2128;
}
.dg{
    display: grid;
}
.tn{
    text-decoration: none;
}
.btn-sub{
    color: #fff !important;
}
.btn-sub:hover{
    text-decoration: none; 
}
a:hover{
    text-decoration: none;  
}
.form-container{
    position: relative;
    top: 30px;
    background-color: #fff;
    padding: 20px;
    /* box-shadow: 0px 0px 10px 0px #000; */
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.g-clr{
    color: rgba(156, 140, 140, 0.658);
}
.bg-clr{
    background-color: rgb(231 225 225);
    border-radius: 5px;
    padding: 20px;
}
.h-c{
    background-color: rgba(156, 140, 140, 0.658);
    height: 600px;
}
.br-clr{
    background-color: rgb(247 201 201);
}
.bg-bor{
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #c7c5c5;
}   

.btn-rev{
    background-color: #fff !important;
    color: #eb2128;
    border: 1px solid #eb2128;
}
.btn-rev1{
   font-size: medium;
    color: #eb2128;
   
}
.btn-rev:hover,.btn-rev:active,.btn-rev:focus{
    color: #eb2128 !important;
}
.btn-pop{
    background-color: #a19c9c !important;
    color: #fff;
    border: 1px solid #a19c9c;
}
.btn-pop:hover,.btn-pop:active,.btn-pop:focus{
    color: #fff;
    border: 1px solid #a19c9c;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;    
}
.nav-link.active
{    
    border: 1px solid #fff;
    border-radius: 5px;  
}
.navbar-nav .nav-link:hover {
    border: 1px solid #fff;
    border-radius: 5px;
}
.lborder
{
    background-color: #daf2d8;
    padding: 8px;
    border-radius: 8px;    
}
.lborder1
{
    background-color: #f5edcd;
    padding: 8px;
    border-radius: 8px;    
}
p.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows,p#mui-6,p#mui-3,p#mui-2,p#mui-4 {
    margin-bottom: inherit !important;
}
